@font-face {
  font-family: 'whyte';
  src: url('docs/ABCWhyte-Book-Trial.woff');
  font-style: normal;
}

body {
  font-weight: 300;
  margin: 0 auto;
  text-align: justify;
  position: center;
  cursor: url('docs/Frame 38.png'), auto;
}

h1 {
  font-family: whyte;
  font-weight: 300;
  font-size: 96px;
  color: black;
  margin: 10px;
  width: 50%;
}

h2 {
  font-family: whyte;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  color: black;
  margin: 10px;
  width: 50%;
  position: center;
}

h3 {
  font-family: whyte;
  font-weight: 300;
  font-size: 12px;
  color: black;
  margin: 10px;
}

img {
  max-width: 40%; 
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: solid 1px;
  drop-shadow: 5px 5px black;
  text-decoration: underline;
}

a:hover {
  font-family: whyte;
  font-weight: 300;
  font-size: 12px;
  color: yellow;
  margin: 10px 20px 20px 10px;
}

@media (max-width: 600px) {
  p { max-width: 100%;
      font-size: 18px;
  }
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 60px;
  }
}

.highlight {
  font-family: whyte;
  font-weight: 300;
  font-size: 32px;
  color: black;
}

.highlight:hover {
  font-family: whyte;
  font-weight: 300;
  font-size: 32px;
  color: black;
  background-color: yellow;
}

a>div { 
  display: none; 
}
a:hover>div { 
  display: block;
}

.hidden {
  width: 40%; 
  height: auto;
}

::selection {
    color: white;
    background: blue;
}

.emailme {
  font-family: whyte;
  font-size: 16px;
  width: 60px;
  height: 60px;
  position: absolute sticky;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 20px; 
  corner-radius: 100px;
  transform: rotate(10deg);
}
