@font-face {
  font-family: 'whyte';
  src: url('docs/ABCWhyte-Book-Trial.woff');
  font-style: normal;
}

@font-face {
  font-family: 'whyteblack';
  src: url('docs/ABCWhyte-Black-Trial.woff');
  font-style: normal;
}

@font-face {
  font-family: 'migraitalic';
  src: url('docs/MigraItalic-ExtralightItalic.otf');
  font-style: normal;
}

body {
  font-weight: 300;
  margin: 0px auto;
  color: #E5E5E5;
  text-align: left;
  position: center;
  overflow-x: hidden;
}

h1 {
  font-family: whyte, montserrat, sans-serif;
  font-weight: 300;
  font-size: 108px;
  position: sticky;
  top: 10px;
  left: 20px;
  color: black;
  margin: 10px 10px 10px 20px;
  width: 100%;
  line-height: 120px;
}


h3 {
  font-family: whyte;
  font-weight: 100;
  font-size: 18px;
  color: black;
  font-weight: 500;
  max-width: 50%;
  margin-left: 20px;
}

p {
  font-family: whyte;
  font-size: 14px;
  color: black;
  width: 40vw;
  overflow-wrap: break-word;
}

img {
  width: 40vw;
  max-height: auto;
  margin: 0px;
}

.allprojects {
  align-items: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 100vw;
  margin-left: 0px;
}

.project {
  padding: 10px;
}

::selection {
    color: white;
    background: black;
}

.tweet {
  font-family: whyte;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 10vw;
  overflow-wrap: break-word;
  text-align: right;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 1000px;
  color: black;
  background-color: black;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.emailme {
  font-family: whyte;
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: white;
}


@media (max-width: 800px) {

  img {
    max-width: 90%;
    height: auto;
  }

  h1 {
    font-size: 72px;
    color: black;
  }

  h3 {
    color: black;
    font-size: 16px;
    max-width: 100%;
  }

}
