h1 {
  font-family: helvetica;
  font-weight: 900;
  font-size: 48px;
  color: #FFFFFF;
  margin: 20px;
}

h1 {
  background-color: #0047FF;
}

h1 a.hover {
  background-color: #C6F8FF;
}

h1 {
  width: 50%;
}

h2 {
   font-family: helvetica;
   font-weight: 500;
   font-size: 20px;
   color: #0047FF;
   margin: 20px;
}

h2 {
  border-bottom: 3px solid #FFDA1A;
}

p {
  font-family: helvetica;
  font-weight: 400;
  font-size: 14px;
  color: #0047FF;
  width: 50%;
  margin: 20px;
}

a {
  color: #CC32E5;
}
