h1 {
  font-family: helveticaneue;
  font-weight: 300;
  font-size: 64px;
  color: white;
  text-align: left;
  margin: 5px 5px 5px 5px;
}

h2 {
  font-family: helveticaneue;
  font-weight: 300;
  font-size: 8px;
  color: white;
  text-align: left;
  margin: 5px 0px 10px 0px;
}

h3 {
  font-family: helveticaneue;
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-align: left;
  margin: 5px;
}
