h1 {
  font-family: helveticaneue;
  font-weight: 300;
  font-size: 64px;
  color: white;
  text-align: left;
  margin: 10px 20px 10px 10px;
}

h2 {
  font-family: helveticaneue;
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-align: left;
  margin: 10px 20px 10px 10px;
}
